<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD polkit Policy Configuration 1.0//EN"
    "http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">
<policyconfig>
  <vendor>System76</vendor>
  <vendor_url>https://system76.com</vendor_url>
  <action id="com.system76.powerdaemon.set-charge-thresholds">
    <description>Set charge thresholds</description>
    <message>Setting charge thresholds requires authorization</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
  <action id="com.system76.powerdaemon.fan.set-duty">
    <description>Set fan duty cycle</description>
    <message>Setting fan speed requires authorization</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
  <action id="com.system76.powerdaemon.fan.set-auto">
    <description>Set fan to automatic control</description>
    <message>Setting fan to automatic control requires authorization</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
  <action id="com.system76.powerdaemon.fan.full-speed">
    <description>Set fan to full speed</description>
    <message>Setting fan to full speed requires authorization</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
</policyconfig>
